<ion-list>
  <ion-reorder-group (ionItemReorder)="reorderTasks($event)" disabled="false">
    <ion-item *ngFor="let task of tasks; let i = index" style="width: 100%">
      <ion-reorder slot="start"></ion-reorder>
      <app-task-item
        [task]="task"
        (taskChange)="onTaskChange($event, i)"
        (enterKey)="handleEnterKey(i)"
        (deleteKey)="handleDeleteKey(i)"
        style="flex-grow: 1"
      ></app-task-item>
      <ion-button
        fill="clear"
        color="danger"
        slot="end"
        (click)="deleteTask(i)"
        style="margin: 0; padding: 0"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-reorder-group>
</ion-list>

<ion-button (click)="addTask()">
  Add Task
  <ion-icon slot="end" name="add-circle-outline"></ion-icon>
</ion-button>
<ion-button (click)="copyTasksToClipboard()">
  Copy List
  <ion-icon slot="end" name="copy-outline"></ion-icon>
</ion-button>
<ion-button id="open-paste-modal">
  Paste List
  <ion-icon slot="end" name="clipboard-outline"></ion-icon>
</ion-button>
<ion-button (click)="resetTasks()" color="danger">
  Reset List
  <ion-icon slot="end" name="refresh-outline"></ion-icon>
</ion-button>

<!-- Paste List Dialog -->
<ion-modal trigger="open-paste-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelPaste()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Paste List</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirmPaste()" [strong]="true">
            Confirm
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="full-height-wrapper">
        <ion-textarea
          [(ngModel)]="pastedContent"
          placeholder="Paste your list here"
        ></ion-textarea>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
