<ion-list>
  <ion-reorder-group (ionItemReorder)="reorderTasks($event)" disabled="false">
    <ion-item *ngFor="let task of tasks; let i = index" style="width: 100%">
      <ion-reorder slot="start"></ion-reorder>
      <app-task-item
        [task]="task"
        (taskChange)="onTaskChange($event, i)"
        style="width: 100%"
      ></app-task-item>
    </ion-item>
  </ion-reorder-group>
</ion-list>

<ion-button (click)="addTask()">
  Add Task
  <ion-icon slot="end" name="add-circle-outline"></ion-icon>
</ion-button>
<ion-button (click)="copyTasksToClipboard()">
  Copy List
  <ion-icon slot="end" name="copy-outline"></ion-icon>
</ion-button>
<ion-button (click)="resetTasks()" color="danger">
  Reset List
  <ion-icon slot="end" name="refresh-outline"></ion-icon>
</ion-button>
