ion-list {
  margin-bottom: 1em;
}

.full-height-wrapper {
  height: 100%;
}

.full-height-wrapper ion-textarea {
  height: 100%;
}

::ng-deep .full-height-wrapper .textarea-wrapper-inner {
  height: 100%;
}

::ng-deep .full-height-wrapper ion-textarea textarea.native-textarea {
  height: 100%;
}
