.task-row.private-row {
  --background: var(--app-private-row-background);
  --inner-border-width: 0;
}

.private-button {
  --border-radius: 6px;
  min-height: 32px;
  font-size: 16px;

  // Default to inactive state
  --background: var(--ion-color-light);
  --background-activated: var(--ion-color-light-shade);
  --background-hover: var(--ion-color-light-tint);
  --color: var(--ion-color-medium);
  opacity: 0.6;

  &.active {
    --background: var(--ion-color-primary);
    --background-activated: var(--ion-color-primary-shade);
    --background-hover: var(--ion-color-primary-tint);
    --color: var(--ion-color-primary-contrast);
    opacity: 1;
  }
}
