<ion-item lines="none" class="task-row">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-segment [(ngModel)]="task.status" (ionChange)="emitChange()">
          <ion-segment-button value="✅">✅</ion-segment-button>
          <ion-segment-button value="☑️">☑️</ion-segment-button>
          <ion-segment-button value="❌">❌</ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col>
        <ion-input
          style="width: 100%"
          [(ngModel)]="task.text"
          (ionInput)="emitChange()"
          (keydown.enter)="emitEnterKey()"
          placeholder="Enter task"
          name="task"
          autocomplete="off"
          data-lpignore="true"
          role="note"
        ></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
