#container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 16px;
  gap: 16px;
}

.project-segment {
  width: 100%;
}
